.cardContainer {
    width: 300px;
    border: 2px solid black;
    color: #164863;
    margin: 10px 0 10px 10px;
}
.cardimg{
    width: 200px;
    margin-left: 38px;
}
.otherContainer {
    width: 500px;
    color: blueviolet;
    border: 2px solid black;
    margin: 10px 0 10px 10px;
}
.otherImage{
    width: 100px;
}

.newmargin{
    margin: 50px 5px 30px 50px;
    padding: 5px 10px 12px 14px;
    border-radius: 12px;
}
.cardDesc{
    font-size: 14px;
    color: brown ;
}
.btn{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

.divcontainer{
    border: 2px solid black;
    margin: 5px;
    display: flex;



/* y-axis        x axis */
    margin:10px 20px;
}




h2,p{
    margin: 0;
    padding: 0;
}
.profileContainer{
    /* border: 1px solid grey; */
    text-align: center;
}
.profilePicture{
    width: 150px;
    border-radius: 50%;
}
.welcomeProfile{
    margin:0 0 10px 0;
}

.profileDesc{
    font-size: 12px;
}
.anchortag{
    text-decoration: none;
}
.divHolder{
    /* border: 1px solid grey; */
    width: 90%;
    margin: 10px 5%;
    display: flex;
}
.privacydiv, .securityDiv{
    width: 40%;
    border: 1px solid grey;
    margin-left: 3.33%;
    display: flex;
    padding: 8px;
    border-radius: 12px;
}






















