/* .cardContainer {
    width: 300px;
    border: 2px solid black;
    color: #164863;
    margin: 10px 0 10px 10px;
}
.cardimg{
    width: 200px;
    margin-left: 38px;
}
.otherContainer {
    width: 500px;
    color: blueviolet;
    border: 2px solid black;
    margin: 10px 0 10px 10px;
}
.otherImage{
    width: 100px;
}

.newmargin{
    margin: 50px 5px 30px 50px;
    padding: 5px 10px 12px 14px;
    border-radius: 12px;
}
.cardDesc{
    font-size: 14px;
    color: brown ;
}
.btn{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

.divcontainer{
    border: 2px solid black;
    margin: 5px;
    display: flex;
    margin:10px 20px;
}




h2,p{
    margin: 0;
    padding: 0;
}
.profileContainer{
    text-align: center;
}
.profilePicture{
    width: 150px;
    border-radius: 50%;
}
.welcomeProfile{
    margin:0 0 10px 0;
}

.profileDesc{
    font-size: 12px;
}
.anchortag{
    text-decoration: none;
}
.divHolder{
    width: 90%;
    margin: 10px 5%;
    display: flex;
}
.privacydiv, .securityDiv{
    width: 40%;
    border: 1px solid grey;
    margin-left: 3.33%;
    display: flex;
    padding: 8px;
    border-radius: 12px;
}


.testingContainer{
    width: 400px;
    border: 1px solid grey;
}

.testing{
    width: 400px;
    border: 1px solid grey;
    display: flex;
}
 */


 .divContainer{
    border: 1px solid red;
    /* display: grid; */
    /* display: block; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
 }
 .newdiv{
    text-align: center;
    border: 1px solid black;
    width: 250px;
    height: 100px;
 }


















 .imgcontainer{
    width: 100%;
    border: 1px solid red;
 }

 .image{
    /* width: 100%; */
    /* background-size: cover; */
 }
 .nav{
    top: 100px;
    position: sticky;
   
 }


 /* 4th December */


 .grandfather{
    border: 1px solid black;
    width: 250px;
 }
 .parent{
    display: flex;
 }
 .below{
    border-top: 1px solid black;
 }
 

 /* 7th December */

.menuConatainer{
    /* border: 1px solid black; */
    width: 250px;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuConatainer:hover{
    box-shadow: 5px 5px 5px 5px rgb(144, 138, 138);
}

 .foodlogo{
    width: 250px;
        border-radius: 12px;

 }
 p{
    margin: 0;
    padding: 0;
 }
 .infoConatiner{
    display: flex;
 }
 .footer{
    display: flex;
    margin-top: 4px;
    padding: 4px 0 0 0;
    border-top: 1px solid grey;
 }
 .foddPrice{
    margin-left: 25%;
 }
 .safetyDesc{
    margin-left: 5%;
 }
 .rating{
    background-color: green;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 64%;
 }